//
// Custom overrides from a user.
//
<<<<<<< HEAD
=======
figure{
  text-align: center;
  margin-bottom: 16px;
}

>>>>>>> master
figcaption {
  text-align: center;
  font-size: .8rem;
  color: #959396;
}